@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");

@layer base {
  :root,
  body,
  html {
    @apply bg-gray-900;
    @apply text-gray-100;
    font-family: "Poppins", sans-serif;
  }

  /* section {
    @apply min-h-[calc(100vh-70px)];
    padding: 6rem 9% 4rem;
  } */
}
