@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  body,
  html {
    @apply bg-gray-900;
    /* font-family: "Nunito Sans", sans-serif; */
    font-family: "Poppins", sans-serif;
  }

  /* section {
    @apply min-h-[calc(100vh-70px)];
    padding: 6rem 9% 4rem;
  } */
}
